.user-page-container {
  padding: 16px;
  background-color: #e9ebee;
  min-height: 100vh;
}

.user-page-profile-header-container {
  height: 360px;
  display: flex;
  border-radius: 16px;
  background-color: #fff;
  padding: 0;
}

.user-page-profile-header-info {
  width: 25%;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.user-page-profile-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto;
}

.user-page-profile-full-name {
  margin: 8px auto;
}

.user-page-profile-amount-follow {
  display: flex;
  justify-content: space-between;
  padding: 4px 20px;
  span:last-child {
    font-weight: 700;
  }
}

.user-page-profile-amount-recipe {
  display: flex;
  justify-content: space-between;
  padding: 4px 20px;
  span:last-child {
    font-weight: 700;
  }
}

.user-page-follow-button {
  margin: 4px auto;
  color: #fff;
  button {
    background-color: #428bca;
    border-radius: 8px;
    color: inherit;
    border: none;
    padding: 4px 12px;
    min-width: 60px;
  }

  button:hover {
    background-color: #c70808;
    color: inherit;
  }
  
  .disable-follow-button, .disable-follow-button:hover {
    background-color: #ccc;
    cursor: text;
  }
}

.user-page-profile-header-background-image {
  flex: 1;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  background-size: cover;
  background-repeat: no-repeat;
}

.user-page-detail-container {
  margin: 32px 0;
  background-color: #eee;
  border: .5px solid #ddd;
  border-radius: 16px;
  padding-bottom: 12px;
}

.user-page-detail-nav-tab-wrapper {
  background-color: #eee;
  height: 60px;
  display: flex;
  justify-content: center;
}

.user-page-detail-nav-tab-item {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  min-width: 120px;
  padding:  12px 16px;
  font-weight: 500;
  cursor: pointer;
}

.user-page-nav-tab--active {
  background-color: #fff;
}

.user-page-detail-content {
  min-height: 200px;
  padding: 24px;
  background-color: #fff;
}

.user-page-user-info {

}

.user-page-user-info-field {
  color: #333;
  font-weight: 700;
  display: flex;
  span {
    color: #808080;
    font-weight: 600;
    width: 160px;
    display: inline-block;
  }
  p {
    flex: 1;
  }
}

.user-page-user-info-field-icon {
  width: 36px;
}